@{
    ViewBag.Title = "About Us";
}
<div class="page-header">
    <h2>
        About</h2>
</div>
<p>
    This is a Quiz web application that allows users to answer questions from one or more quizzes, and get scored.
</p>
<p>Created by Jorge Barnaby (jorge.barnaby {at} gmail {dot} com / Jul 2012.</p>
