@{
    ViewBag.Title = "About Us";
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<p class="well">
    This is a Quiz web application that allows users to answer questions from one or
    more quizzes, and get scored.
</p>
